/* Giữ footer luôn nằm dưới đáy trang */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Đẩy footer xuống đáy */
}

.container-product {
  display: flex;
  width: 95%;
  max-width: 1460px;
  margin: auto;
  padding-top: 30px;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 260px;
  padding: 20px;
  border-radius: 14px;
  background: #fff;
  height: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.filter-box {
  background: #fff;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.07);
}

.filter-box h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.price-range input {
  width: 100%;
}

.price-display {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 5px;
  color: #555;
}

.product-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.25s ease;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.14);
}

.product-image {
  position: relative;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  transition: 0.3s;
}

.product-card:hover img {
  transform: scale(1.05);
}

.badge.sale {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  background: red;
  color: #fff;
  font-size: 13px;
  border-radius: 4px;
}

.product-actions {
  position: absolute;
  bottom: -55px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 14px;
  transition: 0.3s ease-in-out;
}

.product-card:hover .product-actions {
  bottom: 12px;
}

.product-category {
  font-size: 12px;
  color: #888;
  letter-spacing: 1px;
  margin-top: 10px;
  display: block;
}

.product-name {
  font-size: 16px;
  margin: 6px 0;
  font-weight: 600;
  color: #333;
}

.price-box {
  margin: 10px 0;
}

.price {
  color: #e53935;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.old-price {
  color: #aaa;
  text-decoration: line-through;
}

/* RATING */
.rating {
  color: #faca51;
  font-size: 15px;
  margin-top: 6px;
}

.pagination {
  text-align: center;
  margin: 30px 0;
}

.pagination button {
  padding: 8px 14px;
  margin: 0 4px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
}

.pagination button:hover {
  background: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.pagination .active {
  background: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.no-result {
  text-align: center;
  font-size: 22px;
  padding: 40px 0;
  color: #777;
}
