<nav class="menu-header">
  <div class="container d-flex">
    <div class="main-logo">
      <a href="#" id="logo">
        <img src="assets/images/logo.png" alt="logo" class="logo" />
      </a>
    </div>

    <ul id="nav">
      <li class="nav-item"><a href="index.html">Trang chủ</a></li>
      <li class="nav-item"><a href="product.html">Sản phẩm</a></li>
      <li class="nav-item"><a href="#">Tin tức</a></li>
      <li class="nav-item"><a href="contact.html">Liên hệ</a></li>
      <li class="nav-item"><a href="about.html">Về chúng tôi</a></li>
    </ul>

    <div class="search-menu"><i class="fa-solid fa-magnifying-glass"></i></div>

    <div class="account-menu">
      <i class="fa-solid fa-user"></i>
      <ul class="account-dropdown">
        <li><a href="login.html">Đăng nhập</a></li>
        <li><a href="register.html">Đăng ký</a></li>
      </ul>
    </div>

    <div class="car-header">
      <div class="mini-cart">
        <a class="cart-icon">
          <span id="cart-total" class="cart-count">0</span>
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <div class="top-cart-content">
          <ul class="cart-items"></ul>
          <div class="top-subtotal">
            Thành tiền: <span class="subtotal-price">0</span>
          </div>
          <div class="actions">
            <a href="checkout.html" class="btn-checkout">Vào giỏ hàng</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
